/* css for my website */
html {
    font-size: 100%;  /* Ensures the default font size is respected */
}

body {margin: 5% auto;  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    font-size: 1rem; 
    line-height: 1.8; 
    text-shadow: 0 1px 0 #ffffff; 
    max-width: 75%;
}
            
pre, code {
    background-color: lightgrey;
    padding: 0.25rem5 0.5rem;
    border-radius: 0.25rem; /* Rounded corners */
    font-family: monospace; /* Monospaced font */
    font-size: 1rem;
  }
             
a {
    /*border-bottom: 1px solid black;*/ color: black; text-decoration: underline;}
            
a:hover {border-bottom: 0;}
    */
